{% extends 'base.html.twig' %}

{% block title %}Erreur de paiment
{% endblock %}

{% block content %}

	<h2 class="mt-3">Erreur de paiment</h2>

	<p>Votre paiement pour la commande n°
		{{order.reference}}
		à échoué</p><br><br>

	<p>Veuillez réesayer de nouveau
		{{app.user.email}}</p>
	<br>

	<a href="{{path('order')}}" class="btn btn-success col-12">Réessayer de nouveau</a>

{% endblock %}
